#lm-download-laptop {
    .carousel-inner {
        background-image: url(../img/laptop.png);
        background-repeat: no-repeat;
        background-position: center center;
        margin: 0 auto;
        width: 640px;
    }
}

#lm-download-editions,
.lm-download-options {
    text-align: center;

    li {
        display: inline-block;
        float: none;
    }

    .nav-tabs,
    .nav-pills {
        text-align:center;
    }

    .nav-tabs li a {
        font-size: 14px;
        padding: 6px 12px;
    }
}

.lm-download-options {
    .nav-pills {
        .active {
            a {
                background: #e1e6ea !important;
                color: #333 !important;
            }
        }

        a {
            color: #666;
            font-size: 14px;
            padding: 4px 6px;

            &:hover {
                background: #e1e6ea;
            }
        }
    }
}
