#lm-front-hero {
    background: url(../img/front/front-hero-bg.jpg) no-repeat center center;
    background-size: cover;
    display: table;
    position: relative;
    width: 100%;

    .lm-content {
        color: #fff;
        display: table-cell;
        text-align: center;
        vertical-align: middle;

        @media ( max-width: $screen-xs-max ) {
            height: 360px;
        }

        @media ( min-width: $screen-sm-min ) and ( max-width: $screen-sm-max ) {
            height: 480px;
        }

        @media ( min-width: $screen-md-min ) and ( max-width: $screen-md-max ) {
            height: 640px;
        }

        @media ( min-width: $screen-lg-min ) {
            height: 800px;
        }

        h1 {
            color: #000;
            font-size: 52px;
            font-weight: 300;
            margin-bottom: 20px;
            visibility: hidden;

            @media ( max-width: $screen-xs-max ) {
                font-size: 24px;
            }
        }

        .btn {
            background: rgba(50, 80, 90, .8);
            border-color: rgba(50, 80, 90, .8);
            color: #fff;

            @media ( max-width: $screen-xs-max ) {
                font-size: 14px;
                font-weight: 300;
                padding: 10px;
            }
        }

        small {
            color: #2F4A51;
            font-style: italic;
            opacity: .8;

            a {
                color: #2F4A51;
            }
        }
    }
}

#lm-front-editions {
    .container-fluid {
        max-width: 1700px;

        .col-sm-3 {
            padding-left: 40px;
            padding-right: 40px;
        }
    }
}

#lm-front-news {
    background: #ebf7e3;

    .container-fluid {
        max-width: 1600px;
    }

    h3 {
        a {
            color: #000;

            &:hover {
                text-decoration: none;
            }
        }
    }

    p {
        color: #333;
    }
}

#lm-front-thanks {
    background: $brand-primary;
    color: #fff;

    a {
        color: #fff;
    }
}
