body {
    @media ( min-width: $screen-sm-min ) {
        padding: 0 20px 20px 20px;
    }
}

a,
button,
.btn {
    @include transition-property(all);
    @include transition-duration(.3s);
    @include transition-timing-function(linear);

    &:hover {
        text-decoration: none !important;
    }
}

.btn {
    box-shadow: none !important;
}

#lm-main {
    border-bottom: 1px solid #e5e5e5;
    display: table;
    padding-bottom: 60px;
    padding-top: 60px;
    width: 100%;

    #lm-main-left {
        display: table-cell;
        padding-right: 60px;
        vertical-align: top;
    }

    #lm-main-right {
        display: table-cell;
        padding: 0 10px;
        vertical-align: top;
        width: 180px;
    }
}
