.navbar {
    border-bottom: 1px solid #f5f5f5;
    font-size: 18px;

    @media ( max-width: $screen-xs-max ) {
        min-height: 60px;
    }

    #lm-menu-button {
        padding: 0;
        position: absolute;
            top: 0;
            right: 0;

        @media ( min-width: $screen-sm-min ) {
            display: none;
        }

        .c-hamburger {
            background: transparent;
            height: 60px;
            width: 60px;

            span {
                background: #333;
                height: 2px;
                top: 30px;

                &:before {
                    background: #333;
                    height: 2px;
                    top: -8px;
                }

                &:after {
                    background: #333;
                    bottom: -8px;
                    height: 2px;
                }
            }

            &.is-active {
                span {
                    background: transparent;

                    &:before {
                        background: $brand-primary;
                        top: 0;
                    }

                    &:after {
                        background: $brand-primary;
                        bottom: 0;
                    }
                }
            }
        }
    }

    .navbar-brand {
        margin-left: 0 !important;

        @media ( max-width: $screen-xs-max ) {
            height: 60px;
            padding-top: 0;
            padding-bottom: 0;
        }
    }

    .dropdown-menu {
        background: #f5f5f5;
        border: 1px solid #f5f5f5;
        border-radius: 10px !important;
        top: 90px;

        &:before {
            position: absolute;
            top: -7px;
            left: 30px;
            display: inline-block;
            border-right: 7px solid transparent;
            border-bottom: 7px solid #f5f5f5;
            border-left: 7px solid transparent;
            border-bottom-color: #f5f5f5;
            content: '';
        }

        &:after {
            position: absolute;
            top: -6px;
            left: 31px;
            display: inline-block;
            border-right: 6px solid transparent;
            border-bottom: 6px solid #f5f5f5;
            border-left: 6px solid transparent;
            content: '';
        }

        a {
            font-weight: 300;

            &:hover {
                background: #e5e5e5;
            }
        }
    }
}

.navbar-brand {
    background: url(../img/logo.jpg) no-repeat center center;
    margin-right: 20px;
    overflow: hidden;
    text-indent: -999999px;
    width: 176px;
}

.lm-navbar-icon {
    background-position: center 30px;
    background-repeat: no-repeat;
    font-size: 14px;
    padding-top: 68px !important;
    padding-bottom: 20px !important;

    &#lm-navbar-download {
        background-image: url(../img/navbar/icons/download.png);
    }

    &#lm-navbar-participate {
        background-image: url(../img/navbar/icons/participate.png);
    }

    &#lm-navbar-donate {
        background-image: url(../img/navbar/icons/donate.png);
        color: #80C352;
    }
}
