// Font weights
$weights: 200 300 400 600 700 900;
@each $weight in $weights {
    .font-w#{$weight} {
        font-weight: $weight;
    }
}

// Font sizes
$sizes: 14 16 18 20 24 28 32 36 42 48;
@each $size in $sizes {
    .font-s#{$size} {
        font-size: #{$size}px;
    }
}

// Margins
$sizes: 0 10 20 30 40 50 60 80 100 120;
$sides: top right bottom left;
@each $side in $sides {
    @each $size in $sizes {
        .margin-#{$side}-#{$size} {
            margin-#{$side}: #{$size}px;

            @media ( max-width: $screen-xs-max ) {
                margin-#{$side}: #{$size/2}px;
            }
        }

        .margin-#{$side}-#{$size}-xs {
            @media ( max-width: $screen-xs-max) {
                margin-#{$side}: #{$size}px;
            }
        }
    }
}

// Padding
@each $side in $sides {
    @each $size in $sizes {
        .padding-#{$side}-#{$size} {
            padding-#{$side}: #{$size}px;
        }
    }
}

.push {
    margin-bottom: 40px;
}

.text-sm {
    font-size: 14px;
}
