!!!
%html{:lang => 'en'}
    %head
        %meta{:charset => 'utf-8'}
        %meta{:content => 'IE=edge', 'http-equiv' => 'X-UA-Compatible'}
        %meta{:content => 'width=device-width, initial-scale=1', :name => 'viewport'}
        %title Linux Mint

        = stylesheet_link_tag '//fonts.googleapis.com/css?family=Source+Sans+Pro:200,200italic,300,300italic,400,400italic,600,700,600italic,700italic,900,900italic'
        = stylesheet_link_tag '//cdn.materialdesignicons.com/1.4.57/css/materialdesignicons.min.css'
        = stylesheet_link_tag 'top'

        /[if lt IE 9]
            = javascript_include_tag 'ie'

    %body{:class => page_classes}
        .lm-wrapper

            = partial 'navbar'

            - if current_page.data.is_front
                = yield
            - else
                .container
                    #lm-main
                        #lm-main-left

                            %h2.margin-top-0= current_page.data.title
                            = yield

                        #lm-main-right
                            %center.margin-bottom-40
                                = image_tag 'help.png', :alt => 'What is Linux Mint?'
                                %h4 What is Linux Mint?
                                = link_to 'Click here to find out', 'about', :class => 'btn btn-xs btn-primary'

                            = image_tag 'linode.png', :alt => 'Linode'

            = partial 'sponsors'

            = partial 'footer'

            = javascript_include_tag 'bottom'

        %nav#my-menu
            %ul
                %li
                    = link_to 'Home', '/'
                %li
                    %span Download
                    %ul
                        %li
                            = link_to 'Linux Mint 17.3', 'download'
                        %li
                            = link_to 'LMDE 2', 'download'
                        %li
                            = link_to 'All Versions', 'download'
                        %li
                            = link_to 'Documentation', 'download'
                        %li
                            = link_to 'Live CD', 'download'

                %li
                    %span Project
                    %ul
                        %li
                            = link_to 'Get Involved', 'project'
                        %li
                            = link_to 'Donors', 'project'
                        %li
                            = link_to 'Sponsors', 'project'
                        %li
                            = link_to 'Partners', 'project'
                        %li
                            = link_to 'Store', 'project'
                        %li
                            = link_to 'Mirrors', 'project'
                        %li
                            = link_to 'Contact Us', 'project'
                %li
                    %span About
                    %ul
                        %li
                            = link_to 'About Linux Mint', 'about'
                        %li
                            = link_to 'Screenshots', 'screenshots'
                        %li
                            = link_to 'Faq', 'faq'
                        %li
                            = link_to 'Teams', 'teams'
                %li
                    = link_to 'links' do
                        %span Links
