.lm-download-options

    %ul.nav.nav-pills.margin-bottom-30{:role => "tablist"}
        %li.active{:role => "presentation"}
            %a{"aria-controls" => edition + "-original", "data-toggle" => "tab", :href => "#" + edition + "-original", :role => "tab"}
                Original
        %li{:role => "presentation"}
            %a{"aria-controls" => edition + "-no-codecs", "data-toggle" => "tab", :href => "#" + edition + "-no-codecs", :role => "tab"}
                No Codecs
        %li{:role => "presentation"}
            %a{"aria-controls" => edition + "-oem", "data-toggle" => "tab", :href => "#" + edition + "-oem", :role => "tab"}
                OEM

    .tab-content
        .tab-pane.fade.in.active{:id => edition + '-original', :role => "tabpanel"}
            %ul.list-unstyled.list-inline
                %li
                    = link_to '#', :class => 'btn btn-success btn-lg' do
                        %span.mdi.mdi-download
                        %span.font-w600 64-bit
                        (recommended)

                %li
                    = link_to '#', :class => 'btn btn-default btn-lg' do
                        %span.mdi.mdi-download
                        32-bit

            %p
                Multimedia Support


        .tab-pane.fade{:id => edition + '-no-codecs', :role => "tabpanel"}
            %ul.list-unstyled.list-inline
                %li
                    = link_to '#', :class => 'btn btn-success btn-lg' do
                        %span.mdi.mdi-download
                        %span.font-w600 64-bit
                        (recommended)

                %li
                    = link_to '#', :class => 'btn btn-default btn-lg' do
                        %span.mdi.mdi-download
                        32-bit

            %p
                A version without multimedia support. For magazines, companies and distributors in the USA, Japan and countries where the legislation allows patents to apply to software and distribution of restricted technologies may require the acquisition of 3rd party licenses*.

            %p.text-muted.text-center.margin-top-40
                %small
                    * Missing codecs and extra applications can be installed with a simple click of the mouse.

        .tab-pane.fade{:id => edition + '-oem', :role => "tabpanel"}
            %ul.list-unstyled.list-inline
                %li
                    = link_to '#', :class => 'btn btn-success btn-lg' do
                        %span.mdi.mdi-download
                        %span.font-w600 64-bit
                        (recommended)

                %li
                    = link_to '#', :class => 'btn btn-default btn-lg' do
                        %span.mdi.mdi-download
                        32-bit

            %p
                An installation image for manufacturers to pre-install Linux Mint.
