%footer#lm-footer.padding-top-40.padding-bottom-40
    .container
        .row
            .col-sm-9
                %p.lead
                    Linux Mint is free of charge thanks to your donations and adverts on the website.
                    %br
                    We hope you'll enjoy it.

                %p.text-muted
                    %small
                        Some of the packages we distribute are under the GPL. If you want to access their source code you can use the apt-get source command. If you can't find what you're looking for please write to root@linuxmint.com and we'll provide the source to you.
                %p.text-muted
                    %small
                        Linux Mint is copyrighted 2006 and trademarked through the Linux Mark Institute. All rights reserved. Linux® is the registered trademark of Linus Torvalds in the U.S. and other countries.

            .col-sm-3.text-right
                %ul.list-unstyled.list-inline
                    %li
                        = link_to 'http://blog.linuxmint.com/?feed=rss2', :target => '_blank' do
                            = image_tag 'footer/feed.png', :alt => 'RSS Feed'
                    %li
                        = link_to 'http://www.facebook.com/pages/Linux-Mint/185238108180410', :target => '_blank' do
                            = image_tag 'footer/facebook.png', :alt => 'Facebook'
                    %li
                        = link_to 'http://twitter.com/linux_mint', :target => '_blank' do
                            = image_tag 'footer/twitter.png', :alt => 'Twitter'
