%nav.navbar.navbar-default
    .container
        / Brand and toggle get grouped for better mobile display
        .navbar-header
            %a#lm-menu-button.o-grid__item{:href => '#my-menu'}
                %button.c-hamburger.c-hamburger--htx
                    %span toggle menu

            %a.navbar-brand{:href => "/"}
                Linux Mint:  From Freedom Came Elegance

        / Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
            %ul.nav.navbar-nav
                %li.dropdown
                    %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                        Project
                    %ul.dropdown-menu.animated.fadeIn
                        %li
                            %a{:href => "#"} Get Involved
                        %li
                            %a{:href => "#"} Donors
                        %li
                            %a{:href => "#"} Sponsors
                        %li
                            %a{:href => "#"} Store
                        %li
                            %a{:href => "#"} Mirrors
                        %li
                            %a{:href => "#"} Contact Us
                %li.dropdown
                    %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                        About
                    %ul.dropdown-menu.animated.fadeIn
                        %li
                            %a{:href => "/about"} About Linux Mint
                        %li
                            %a{:href => "#"} Screen Shots
                        %li
                            %a{:href => "/faq"} FAQ
                        %li
                            %a{:href => "/teams"} Teams
                %li
                    = link_to 'Links', '#'
            %ul.nav.navbar-nav.navbar-right
                %li.dropdown
                    %a#lm-navbar-download.lm-navbar-icon{:href => '/download'}
                        Download
                %li
                    %a#lm-navbar-participate.lm-navbar-icon{:href => "#"}
                        Participate
                %li
                    %a#lm-navbar-donate.lm-navbar-icon{:href => "#"}
                        Donate
