%section#lm-sponsors.padding-top-60.padding-bottom-60.text-center

    %h2.font-w200.margin-bottom-40.text-center Sponsors

    .container.push
        .row.text-center
            .col-sm-4
                = image_tag 'sponsors/606.png'
            .col-sm-4
                = image_tag 'sponsors/216.gif'
            .col-sm-4
                = image_tag 'sponsors/431.jpg'
