---
title: "About Linux Mint"
---

%p.lead
    The purpose of Linux Mint is to produce a modern, elegant and comfortable operating system which is both powerful and easy to use.

%p
    Linux Mint is the most popular desktop Linux distribution and the 3rd most widely used home operating system behind Microsoft Windows and Apple Mac OS.

%p
    Some of the reasons for the success of Linux Mint are:

%ul
    %li It works out of the box, with full multimedia support and is extremely easy to use.
    %li It's both free of cost and open source.
    %li It's community-driven. Users are encouraged to send feedback to the project so that their ideas can be used to improve Linux Mint.
    %li Based on Debian and Ubuntu, it provides about 30,000 packages and one of the best software managers.
    %li It's safe and reliable. Thanks to a conservative approach to software updates, a unique Update Manager and the robustness of its Linux architecture, Linux Mint requires very little maintenance (no regressions, no antivirus, no anti-spyware...etc).
