%h2.font-w200.margin-bottom-80.text-center Download Linux Mint 17.3 "Rosa"

#lm-download-laptop.carousel.slide.carousel-fade
    .carousel-inner{:role => "listbox"}
        .item.active
            = image_tag 'editions/cinnamon-laptop.png'
        .item
            = image_tag 'editions/mate-laptop.png'
        .item
            = image_tag 'editions/xfce-laptop.png'
        .item
            = image_tag 'editions/kde-laptop.png'

#lm-download-editions
    %ul.nav.nav-pills.margin-top-40.margin-bottom-40
        %li.active{"data-slide-to" => "0", "data-target" => "#lm-download-laptop"}
            %a{:href => "#cinnamon", "data-toggle" => "tab"}
                Cinnamon
        %li{"data-slide-to" => "1", "data-target" => "#lm-download-laptop"}
            %a{:href => "#mate", "data-toggle" => "tab"}
                MATE
        %li{"data-slide-to" => "3", "data-target" => "#lm-download-laptop"}
            %a{:href => "#kde", "data-toggle" => "tab"}
                KDE
        %li{"data-slide-to" => "2", "data-target" => "#lm-download-laptop"}
            %a{:href => "#xfce", "data-toggle" => "tab"}
                XFCE

    .tab-content
        #cinnamon.tab-pane.fade.in.active{:role => "tabpanel"}
            %p.lead.text-center An edition featuring the Cinnamon desktop
            = partial 'download-options', :locals => { :edition => 'cinnamon' }

        #mate.tab-pane.fade{:role => "tabpanel"}
            %p.lead.text-center An edition featuring the MATE desktop
            = partial 'download-options', :locals => { :edition => 'mate' }

        #xfce.tab-pane.fade{:role => "tabpanel"}
            %p.lead.text-center
                An edition featuring the
                = link_to 'Xfce', 'http://xfce.org/', :target => '_blank'
                desktop
                
            %ul.list-unstyled.list-inline
                %li
                    = link_to '#', :class => 'btn btn-success btn-lg' do
                        %span.mdi.mdi-download
                        %span.font-w600 64-bit
                        (recommended)

                %li
                    = link_to '#', :class => 'btn btn-default btn-lg' do
                        %span.mdi.mdi-download
                        32-bit

        #kde.tab-pane.fade{:role => "tabpanel"}
            %p.lead.text-center
                An edition featuring the
                = link_to 'KDE', 'http://kde.org/', :target => '_blank'
                desktop

            %ul.list-unstyled.list-inline
                %li
                    = link_to '#', :class => 'btn btn-success btn-lg' do
                        %span.mdi.mdi-download
                        %span.font-w600 64-bit
                        (recommended)

                %li
                    = link_to '#', :class => 'btn btn-default btn-lg' do
                        %span.mdi.mdi-download
                        32-bit
