---
title: "FAQ"
---

.font-s24 What is Linux Mint?
%p.margin-bottom-40
    Linux Mint is a free Linux-based operating system designed for use on desktop computers.

.font-s24 Is Linux Mint suitable for individuals?
%p
    Yes, definitely. Linux Mint is designed to be comfortable and easy to use but also powerful and configurable. Everything is done to make the user experience better.
%p
    Linux Mint is the most popular Linux distribution and positions itself as the 3rd most popular desktop operating system in the World.
%p.margin-bottom-40
    User feedback is very important to us and used to consistently improve the quality of Linux Mint.

.font-s24 Is Linux Mint suitable for companies?
%p.margin-bottom-40
    Yes. Linux Mint provides Long-Term Support (LTS) releases which are supported for a duration of 5 years.

.font-s24 Does Linux Mint include proprietary drivers?
%p.margin-bottom-40
    No. Proprietary drivers such as the ATI or nVidia drivers are easy to install but not installed by default.

.font-s24 What about proprietary software?
%p.margin-bottom-40
    Linux Mint does not support any political or ideological stance against any software programs or editors no matter what license they use. With that said, most if not all (depending on the edition) software used in Linux Mint is Free and Open Source. We believe in Open Source as a choice, not as a constraint. We think it makes sense to share code, to credit the technology we use, to let people help us, to allow others to build upon what we are making and to enable progress in general. We also enjoy sharing with the community, so we license our software under the GPL and the vast majority of components we use are Free and Open Source.
