---
is_front: true
---

%section#lm-front-hero
    .lm-content
        %h1.wow.fadeIn{"data-wow-duration" => "3s"}
            From Freedom Came Elegance
        = link_to 'Discover Linux Mint 17.3 "Rosa"', '#lm-front-editions', :class => 'btn btn-lg wow fadeIn hvr-float page-scroll', "data-wow-duration" => "3s"
        %p.wow.fadeIn{"data-wow-delay" => "3s"}
            %small
                Photo by
                = link_to 'Erik Stine', 'https://unsplash.com/charleseriksun', :target => '_blank'

%section#lm-front-editions.margin-top-80.margin-bottom-60
    .container-fluid

        %h2.font-w300.margin-bottom-60.text-center.wow.fadeIn Linux Mint 17.3 "Rosa"

        .row
            .col-lg-3.col-sm-6.wow.fadeIn.margin-bottom-60-xs{"data-wow-duration" => "1s"}
                %center
                    %h3.font-w200 Cinammon Edition
                    = link_to 'download' do
                        = image_tag 'editions/cinnamon-front.jpg', :alt => 'Linux Mint 17 "Rosa" Cinnamon Edition', :class => 'img-responsive margin-bottom-10'
                    %p.font-w300
                        Sleek, modern, innovative
                    %ul.list-unstyled.list-inline.font-s14.font-w200
                        %li
                            = link_to 'New features', 'download'
                        %li
                            = link_to 'Release Notes', 'download'
                        %li
                            = link_to 'Download Links', 'download'

            .col-lg-3.col-sm-6.wow.fadeIn.margin-bottom-60-xs{"data-wow-duration" => "1s", "data-wow-delay" => ".15s"}
                %center
                    %h3.font-w200 Mate Edition
                    = link_to 'download' do
                        = image_tag 'editions/mate-front.jpg', :alt => 'Linux Mint 17 "Rosa" Mate Edition', :class => 'img-responsive margin-bottom-10'
                    %p.font-w300
                        Stable, robust, traditional
                    %ul.list-unstyled.list-inline.font-s14.font-w200
                        %li
                            = link_to 'New features', 'download'
                        %li
                            = link_to 'Release Notes', 'download'
                        %li
                            = link_to 'Download Links', 'download'

            .col-lg-3.col-sm-6.wow.fadeIn.margin-bottom-60-xs{"data-wow-duration" => "1s", "data-wow-delay" => ".3s"}
                %center
                    %h3.font-w200 Xfce Edition
                    = link_to 'download' do
                        = image_tag 'editions/xfce-front.jpg', :alt => 'Linux Mint 17 "Rosa" XFCE Edition', :class => 'img-responsive margin-bottom-10'
                    %p.font-w300
                        Sleek, modern, innovative
                    %ul.list-unstyled.list-inline.font-s14.font-w200
                        %li
                            = link_to 'New features', 'download'
                        %li
                            = link_to 'Release Notes', 'download'
                        %li
                            = link_to 'Download Links', 'download'

            .col-lg-3.col-sm-6.wow.fadeIn{"data-wow-duration" => "1s", "data-wow-delay" => ".45s"}
                %center
                    %h3.font-w200 KDE Edition
                    = link_to 'download' do
                        = image_tag 'editions/kde-front.jpg', :alt => 'Linux Mint 17 "Rosa" KDE Edition', :class => 'img-responsive margin-bottom-10'
                    %p.font-w300
                        Sleek, modern, innovative
                    %ul.list-unstyled.list-inline.font-s14.font-w200
                        %li
                            = link_to 'New features', 'download'
                        %li
                            = link_to 'Release Notes', 'download'
                        %li
                            = link_to 'Download Links', 'download'

%section#lm-front-news.padding-top-60.padding-bottom-60.text-center
    .container-fluid.margin-bottom-40
        .row
            .col-md-4.margin-bottom-60-xs
                %h3.margin-top-0.margin-bottom-0
                    = link_to 'Linux Mint 17.3 "Rosa" KDE released!', 'http://blog.linuxmint.com/?p=2978'
                %p.font-w300.text-sm.text-muted Saturday, January 9 2016 @ 3:54pm
                %p.font-w300
                    The team is proud to announce the release of Linux Mint 17.3 "Rosa" KDE Edition. Linux Mint 17.3 Rosa KDE Edition Linux Mint 17.3 is a long term support release which will be supported until 2019. It comes with updated software and brings refinements and many new features to make your desktop even more comfortable.
                = link_to 'Read More', 'http://blog.linuxmint.com/?p=2978'

            .col-md-4.margin-bottom-60-xs
                %h3.margin-top-0.margin-bottom-0
                    = link_to 'Linux Mint 17.3 "Rosa" Xfce released!', 'http://blog.linuxmint.com/?p=2977'
                %p.font-w300.text-sm.text-muted Saturday, January 9 2016 @ 3:53pm
                %p.font-w300
                    The team is proud to announce the release of Linux Mint 17.3 "Rosa" Xfce Edition. Linux Mint 17.3 Rosa Xfce Edition Linux Mint 17.3 is a long term support release which will be supported until 2019. It comes with updated software and brings refinements and many new features to make your desktop even more comfortable.
                = link_to 'Read More', 'http://blog.linuxmint.com/?p=2978'

            .col-md-4
                %h3.margin-top-0.margin-bottom-0
                    = link_to 'Linux Mint 18 codenamed "Sarah"', 'http://blog.linuxmint.com/?p=2975'
                %p.font-w300.text-sm.text-muted Thursday, January 7 2016 @ 7:44pm
                %p.font-w300
                    The first release in the upcoming Linux Mint 18.x series will be named "Sarah". Sarah is a Jewish feminine given name found in many different areas of the world. Sarah is a consistently popular given name across Europe and North America, as well as in the Middle East—being commonly used as a female first name.
                = link_to 'Read More', 'http://blog.linuxmint.com/?p=2978'

    %center
        = link_to 'Linux Mint Blog', 'http://blog.linuxmint.com/', :target => '_blank', :class => 'btn btn-primary btn-lg'

%section#lm-front-thanks.padding-top-60.padding-bottom-60.text-center
    .container
        %h2.font-w300 Thank You

        %p.lead.margin-bottom-60
            Linux Mint is funded by its community. Many thanks to all the people who financially support the project.

        .row.font-s20
            .col-sm-4.margin-bottom-60-xs
                = link_to '#' do
                    = image_tag 'front/donors.png', :alt => 'Donors', :class => 'wow bounceIn'
                    %br
                    %span.wow.fadeIn
                        Donors
            .col-sm-4.margin-bottom-60-xs
                = link_to '#' do
                    = image_tag 'front/sponsors.png', :alt => 'Sponsors', :class => 'wow bounceIn'
                    %br
                    %span.wow.fadeIn
                        Sponsors
            .col-sm-4
                = link_to '#' do
                    = image_tag 'front/partners.png', :alt => 'Partners', :class => 'wow bounceIn'
                    %br
                    %span.wow.fadeIn
                        Partners
