---
title: "Teams"
---
%p.lead.margin-bottom-40
    Many people contribute to the Linux Mint project. Here are the main teams behind the distribution.

%h3.margin-top-60 General Info
.row
    .col-sm-2.text-center
        = image_tag '//community.linuxmint.com/uploads/avatars/3.jpg', :alt => 'Clement Lefebvre: Project Leader', :class => 'img-circle'
        %p
            %span.font-w600 Clement Lefebvre (France)
            %br
            %small.text-muted Project Leader

    .col-sm-2.text-center
        = image_tag '//community.linuxmint.com/uploads/avatars/276.jpg', :alt => 'Oscar799 (UK): Forums Administrator', :class => 'img-circle'
        %p
            %span.font-w600 Oscar799 (UK)
            %br
            %small.text-muted Forums Administrator

    .col-sm-2.text-center
        = image_tag '//community.linuxmint.com/uploads/avatars/11.jpg', :alt => 'proxima_centauri (Canada): Forums Administrator', :class => 'img-circle'
        %p
            %span.font-w600 proxima_centauri (Canada)
            %br
            %small.text-muted Forums Administrator

    .col-sm-2.text-center
        = image_tag '//community.linuxmint.com/uploads/avatars/61948.jpg', :alt => 'xenopeek (Netherlands): Forums Administrator', :class => 'img-circle'
        %p
            %span.font-w600 xenopeek (Netherlands)
            %br
            %small.text-muted Forums Administrator

    .col-sm-2.text-center
        = image_tag '//community.linuxmint.com/uploads/avatars/198.jpg', :alt => 'Frederic Gaudet (France): System Administrator', :class => 'img-circle'
        %p
            %span.font-w600 Frederic Gaudet (France)
            %br
            %small.text-muted System Administrator

%h3.margin-top-60 Maintainers
.row
    .col-sm-2.text-center
        = image_tag '//community.linuxmint.com/uploads/avatars/198.jpg', :alt => 'Frederic Gaudet (France): System Administrator', :class => 'img-circle'
        %p
            %span.font-w600 Frederic Gaudet (France)
            %br
            %small.text-muted System Administrator

    .col-sm-2.text-center
        = image_tag '//community.linuxmint.com/uploads/avatars/3.jpg', :alt => 'Clement Lefebvre: Project Leader', :class => 'img-circle'
        %p
            %span.font-w600 Clement Lefebvre (France)
            %br
            %small.text-muted Project Leader

%h3.margin-top-60 Local Communities Leaders
.row
    .col-sm-2.text-center
        = link_to '//community.linuxmint.com/user/view/21' do
            = image_tag '//community.linuxmint.com/uploads/avatars/21.jpg', :alt => 'Ayon Khan: Linux Mint Bangladesh', :class => 'img-circle'
            %br
            %span.font-w600 Ayon Khan

        %br
        %small.text-muted Linux Mint Bangladesh

    .col-sm-2.text-center
        = link_to '//community.linuxmint.com/user/view/370' do
            = image_tag '//community.linuxmint.com/img/default_avatar.jpg', :alt => 'Carl-Uno Olsson: Linux Mint Sweden', :class => 'img-circle'
            %br
            %span.font-w600 Carl-Uno Olsson

        %br
        %small.text-muted Linux Mint Sweden

    .col-sm-2.text-center
        = link_to '//community.linuxmint.com/user/view/370' do
            = image_tag '//community.linuxmint.com/img/default_avatar.jpg', :alt => 'Eko Andri Prasetyo: Linux Mint Indonesia User Group', :class => 'img-circle'
            %br
            %span.font-w600 Eko Andri Prasetyo

        %br
        %small.text-muted Linux Mint Indonesia User Group

    .col-sm-2.text-center
        = image_tag '//community.linuxmint.com/img/default_avatar.jpg', :alt => 'Samet Yilmaz: Linux Mint Turkiye', :class => 'img-circle'
        %p
            %span.font-w600 Samet Yilmaz
            %br
            %small.text-muted Linux Mint Turkiye

    .col-sm-2.text-center
        = link_to '//community.linuxmint.com/user/view/51' do
            = image_tag '//community.linuxmint.com/img/default_avatar.jpg', :alt => 'Ludovic Quentin ("ludal"): LinuxMint-fr', :class => 'img-circle'
            %br
            %span.font-w600 Ludovic Quentin ("ludal")

        %br
        %small.text-muted LinuxMint-fr

    .col-sm-2.text-center
        = link_to '//community.linuxmint.com/user/view/361' do
            = image_tag '//community.linuxmint.com/img/default_avatar.jpg', :alt => 'Mati75: Linux Mint Polska', :class => 'img-circle'
            %br
            %span.font-w600 Mati75

        %br
        %small.text-muted Linux Mint Polska

.row
    .col-sm-2.text-center
        = link_to '//community.linuxmint.com/user/view/2152' do
            = image_tag '//community.linuxmint.com/uploads/avatars/2152.jpg', :alt => 'Robert Ilie ("ropetili"): Linux Mint Romania', :class => 'img-circle'
            %br
            %span.font-w600 Robert Ilie ("ropetili")

        %br
        %small.text-muted Linux Mint Romania

    .col-sm-2.text-center
        = link_to '//community.linuxmint.com/user/view/47' do
            = image_tag '//community.linuxmint.com/img/default_avatar.jpg', :alt => 'Teuvo Akala ("teucca"): Linux Mint Suomi', :class => 'img-circle'
            %br
            %span.font-w600 Teuvo Akala ("teucca")

        %br
        %small.text-muted Linux Mint Suomi

    .col-sm-2.text-center
        = link_to '//community.linuxmint.com/user/view/2601' do
            = image_tag '//community.linuxmint.com/uploads/avatars/2601.jpg', :alt => 'Wamukota: Linux Mint Belgium', :class => 'img-circle'
            %br
            %span.font-w600 Wamukota

        %br
        %small.text-muted Linux Mint Belgium

    .col-sm-2.text-center
        = link_to '//community.linuxmint.com/user/view/1847' do
            = image_tag '//community.linuxmint.com/uploads/avatars/1847.jpg', :alt => 'Wamukota: Linux Mint Belgium', :class => 'img-circle'
            %br
            %span.font-w600 Wamukota

        %br
        %small.text-muted Linux Mint Belgium

%h3.margin-top-60 Other Teams
%ul
    %li
        = link_to 'The Linux Mint Forums Moderation Team', 'http://forums.linuxmint.com/memberlist.php?mode=group&g=15'
    %li
        = link_to 'The Linux Mint Community Moderation Team', 'http://community.linuxmint.com/user/moderators'
    %li
        = link_to 'The Linux Mint Testing Team', 'http://community.linuxmint.com/iso/team'
    %li
        = link_to 'The Linux Mint Translation Team', 'https://translations.launchpad.net/+groups/linux-mint'
    %li
        = link_to 'The Linux Mint Bug Squad', 'https://launchpad.net/~linuxmint-bug-squad'
